* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(53, 53, 53);
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 4rem;
    color: rgb(12, 99, 116);
    font-weight: 1000;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 5rem;
    font-weight: 400;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active {
    color: rgb(12, 99, 116);
    border-bottom: 3px solid;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-top: 120px;
    margin-bottom: 100px;
    text-align: center;
  }

.education {
    grid-column: 1 / span 2;
}

ol {
    list-style-type: none;
}

.certificate {
    background-color: rgb(23, 23, 23);
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
}

.certificate img {
    height: 250px;
    padding: 10px;
}

.certificate img:hover {
    transform: scale(1.12);
    transition: 1s ease;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(23, 23, 23);
    position: fixed;
    bottom: 0;
    width: 100%;
}

